html{
    background-color: rgb(0, 0, 0);
}

body{
    height: 1250px;    
    background-image: url(../imagens/nissan-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
}

img{
    width: 400px;
    padding: 30px;
    border-radius: 40px;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:rgb(199, 0, 0);
    background-attachment: fixed;
}

nav ul{
    display: flex;
    flex-direction: row;
    float: right;
    list-style: none;
    padding: 0px;
    width: 150px;
    font-size: 15px;
}

nav ul li{
    text-align: center;
    width: 150px;
}

nav ul li a{
    color: aliceblue;
    display: flex;
    padding: 5px;
    width: 150px;
    text-decoration: none;
}

#logo{
    width: 100px;
}

footer{
    position: absolute;
    text-align: center;
    padding: 10px;
    bottom: 0;
    left: 0;  
}

footer a{
    text-decoration: none;
    color: aliceblue;    
}

input{
    height: 30px;
    width: 75%;
    margin: 10px;
    border-radius: 15px;
    background-color: aliceblue;
    opacity: 0.8;
    outline: none;
    cursor: text;
}

label{
    color: black;
    font-size: 16px;    
}

#form{    
    align-items: center;
}

div#corpoForm{
    height: 300px;
    width: 300px;
    margin: auto auto auto auto;
    align-items: center;
}

#corpoForm h2{
    text-align: center;
}

.botao{
    height: 30px;
    width: 50%;
    cursor: pointer;  
}

.botao:hover{
    background-color: rgb(199, 0, 0);
}

#tituloProduto{
    color: aliceblue;
}

#slides400z .hcg-slide-container {
	width: auto;
	height: auto;
}

#primeira400z{
    height: 700px;
    width: auto;
    align-items: center;
}

#z{
    background-image: url(../imagens/400z/400z-primeira.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;  
}

#veiculos{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#veiculos img{
    padding: 5px;
    width: 360px;    
    border-radius: 30px;
    background-size: cover;
}

#veiculo{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: aliceblue;
    background-color: rgba(31, 31, 31, 0.7);
    margin: 10px;
    border-radius: 5px;
    padding: 20px;
}
#veiculo p{
    font-size: 14px;
}

#veiculo button{
    background-color: aliceblue;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: rgb(119, 0, 0);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
#veiculo button:hover{
    color: aliceblue;
    background-color: rgb(119, 0, 0);
}